/* flex */
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.flex-inline {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.flex-row {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
}

.flex-row-reverse {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row-reverse;
}

.flex-col {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-col-reverse {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.align-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.align-start {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.align-end {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.justify-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.justify-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.justify-around {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-around;
}

.justify-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.flex-wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-grow {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.flex-equal {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex: 1;
}

.height-full {
	height: 100%;
}

.width-full {
	width: 100%;
}

.min-height-full {
	min-height: 100%;
}

.min-width-full {
	min-width: 100%;
}

.bg-transparent {
	background: transparent;
}

$properties: (margin, padding);
$spaces: (auto, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24);
$sides: (all, x, y, top, bottom, left, right);

@each $property in $properties {
	@each $space in $spaces {
		@each $side in $sides {
			$property-prefix: #{str-slice($property, 0, 1)};
			$symbol: if($space == auto,'','px');
			@if $side =='all' {
				.#{$property-prefix}-#{$space} {
					#{$property}: #{$space}#{$symbol};
				}
			} @else if $side =='x' or $side =='y' {
				.#{$property-prefix}#{$side}-#{$space} {
					@if $side =='x' {
						#{$property}-left: #{$space}#{$symbol};
						#{$property}-right: #{$space}#{$symbol};
					} @else {
						#{$property}-top: #{$space}#{$symbol};
						#{$property}-bottom: #{$space}#{$symbol};
					}
				}
			} @else {
				.#{$property-prefix}#{str-slice($side, 0, 1)}-#{$space} {
					#{$property}-#{$side}: #{$space}#{$symbol};
				}
			}
		}
	}
}

